client/public/n8n-ixc-inadimplentes-workflow.json
{
  "name": "IXC Heatmap - Inadimplentes em Massa",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "ixc-inadimplentes",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-http",
      "name": "Buscar IXC fn_areceber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://' + $('Webhook').item.json.body.api_url + '/webservice/v1/fn_areceber' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Webhook').item.json.body.auth_header }}"
            },
            {
              "name": "ixcsoft",
              "value": "listar"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ qtype: 'fn_areceber.status', query: 'A', oper: '=', page: String($('Webhook').item.json.body.page || '1'), rp: String($('Webhook').item.json.body.rp || '500'), sortname: 'fn_areceber.id', sortorder: 'asc' }) }}",
        "options": {
          "timeout": 30000,
          "allowUnauthorizedCerts": true
        }
      }
    },
    {
      "id": "node-respond",
      "name": "Responder ao Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar IXC fn_areceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar IXC fn_areceber": {
      "main": [
        [
          {
            "node": "Responder ao Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
